Title: Widgets
Order: 70
Description: "*Spectre.Console* supports many built-in widgets to help render beautiful output."
---
@using Docs.Extensions

<ul>
@foreach (IDocument child in OutputPages.Cached().GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>