Title: Widgets
Order: 70
Description: "*Spectre.Console* supports many built-in widgets to help render beautiful output."
---

<ul>
@foreach (IDocument child in OutputPages.GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>