Title: Spectre.Console.Cli
Order: 80
Description: "The command line interface for the *Spectre.Console* project."
---

<p>Spectre.Console.Cli is a modern library for parsing command line arguments. While it's extremely opinionated in what it does, it tries to follow established industry conventions, and draws its inspiration from applications you use everyday.</p>

<ul>
@foreach (IDocument child in OutputPages.GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>