Title: API Reference
Order: 10000
---
<p>The Spectre.Console API reference is organized by namespace. Each namespace has one or more classes for working with Console applications.</p>

<ul>
    @foreach (var child in OutputPages.GetChildrenOf(Document).OrderBy(i => i.GetTitle()))
    {
        <li>@Html.DocumentLink(child)</li>
    }
</ul>