@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

html, body {
    overflow-x: hidden;
    width: 100%;
}

$thebackground: $gray-200;

.color-row {
    padding: 0px;
    margin: 0px;
}

.color-representation {
    display: inline-block;
    width: 60px;
    height: 15px;
}

#topnav {
    padding: 0px;
    margin: 0px;
}

#topnav .container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}

@media screen {
    @include media-breakpoint-up(md) {
        body {
            min-height: 100vh;
        }

        .icon-md-100 {
            width: 100% !important;
            height: auto !important;
        }
    }

    @include media-breakpoint-down(md) {
        body {
            -webkit-overflow-scrolling: touch;
        }
    }

    @include media-breakpoint-up(lg) {
        .h-lg-100 {
            height: 100%;
        }
    }
}

@each $size, $length in $sizes {
    .max-vw-#{$size} {
        max-width: #{$size}vw !important;
    }

    .min-vw-#{$size} {
        min-width: #{$size}vw !important;
    }

    .max-vh-#{$size} {
        max-height: #{$size}vh !important;
    }

    .min-vh-#{$size} {
        min-height: #{$size}vh !important;
    }
}

@each $color, $value in $colors {
    @include text-emphasis-variant(".text-#{$color}", $value, true);

    .bg-#{$color} {
        background-color: $value;
    }

    .bg-gradient-#{$color} {
        background: $value linear-gradient(180deg, $value, darken($value, 10%)) repeat-x !important;
    }

    .text-#{$color} {
        color: $value;
    }

    .icon-#{$color} {
        --fa-primary-color: #{$value};
        --fa-secondary-color: #{lighten($value, 20%)};
    }
}

.icon-theme {
    --fa-primary-color: #06c0af;
    --fa-secondary-color: #06c0af;
}

.icon-100 {
    width: 100% !important;
    height: auto !important;
}

$font-family-serif: 'Roboto Slab', serif !default;

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-base {
    font-size: $font-size-base;
}

h1, h2, h3, .display-1, .display-2, .display-3, .display-4, .h-section {
    font-family: $font-family-serif;
    &:not(:first-child) {
        margin-top: $spacer * 1.5;
    }
}

h1 {
    color: $primary;
    padding-bottom: $spacer * 0.5;
    margin-bottom: $spacer * 0.5;
}

h2, h3 {
    color: lighten($primary, 20%);
}

.h-section {
    background-color: $gray-700;
    color: $white;
    padding: $spacer * 0.5;
    margin-bottom: $spacer * 1.5;
}

#topnav {
    background: $thebackground linear-gradient(180deg, $white, $thebackground) repeat-x !important;
}

#logo {
    height: 3rem;
}

@mixin nav-project($color) {
    a {
        &, &:focus, &:active {
            color: $color;
        }

        &:hover {
            color: darken($color, 20%);
        }

        font-size: $font-size-lg;
    }
}

.bg-body {
    background-color: $thebackground;
}

#nav-docs {
    @include nav-project($blue);
}

#hero {
    background: $orange linear-gradient(180deg, darken($cyan, 5%),darken(#06c0af, 5%)) 
    repeat-x !important;
}

.product-wordmark {
    width: 3em;
}

.product-icon {
    font-size: $font-size-base * 1.5;
    margin-left: -($font-size-base * 0.75);
}

#footer {
    background-color: $gray-900;
}

$sections: () !default;
$sections: map-merge(
    (
        "docs": $cyan
    ),
    $sections
);

@each $section, $color in $sections {
    .bg-#{$section} {
        background-color: darken($color, 10%);
    }

    .text-#{$section} {
        color: $color;
    }

    .icon-#{$section} {
        --fa-primary-color: #{$color};
        --fa-secondary-color: #{lighten($color, 20%)};
    }

    .section-#{$section} {
        #titlebar {
            background: lighten($color, 20%) linear-gradient(180deg, $color, lighten($color, 10%)) 
            repeat-x !important;

            .section {
                color: darken($color, 10%);
                font-size: $h6-font-size;
            }

            .title {
                line-height: 1.5em;
                font-family: $font-family-serif;
                font-size: $h1-font-size * 1.2;
            }
        }

        #undertitle {
            background-color: transparent;

            @include media-breakpoint-up(md) {
                & > .container {
                    min-height: $spacer * 1.5;

                    & > .row {
                        min-height: $spacer * 1.5;
                    }
                }
            }
        }

        .bg-section {
            background-color: $thebackground;
        }

        .sidebar-nav-item {
            padding-top: $spacer * 0.5;
            padding-bottom: $spacer * 0.5;
            font-weight: $font-weight-bold;

            &.has-children {
                margin-bottom: 0;
            }

            &.active a {
                color: $gray-600;

                @include hover-focus-active() {
                    color: $gray-600;
                }
            }
        }

        .sidebar-nav-children {
            border-left: ($border-width * 3) solid $gray-300;
            padding-left: $spacer;
            margin-bottom: $spacer;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }

            &.active {
                display: block;
            }
        }

        .sidebar-nav-child {
            padding-top: $spacer * 0.5;
            padding-bottom: $spacer * 0.5;

            &.active a {
                color: $gray-600;

                @include hover-focus-active() {
                    color: $gray-600;
                }
            }
        }
    }
}

.sidebar {
    @include media-breakpoint-up(md) {
        & {
            padding-bottom: $spacer * 1.5;
            margin-bottom: $spacer * 1.5;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.page-box {
    border: 1px solid $thebackground;
    @include box-shadow($btn-box-shadow);
    @include border-radius($border-radius, 0);

    *:last-child {
        margin-bottom: 0;
    }
}

/* Mermaid */
.mermaid {
    overflow: hidden !important;
    visibility: hidden !important;
    margin-bottom: $spacer;
    margin-top: $spacer;

    &[data-processed="true"] {
      visibility: visible !important;
    }
    min-height: 200px;
  
    svg {
      min-height: 200px;
    }
  }
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon {
    fill: lighten($primary, 50%) !important;
    stroke: #000 !important;
  }
  .type-node rect,
  .type-node circle,
  .type-node ellipse,
  .type-node polygon {
    fill: lighten($primary, 30%) !important;
    stroke: #000 !important;
  }
  .cluster rect {
    fill: $gray-100 !important;
    stroke: $gray-300 !important;
  }