Title: Live
Order: 50
Description: Live displays continue to redraw their contents until an action is complete.
---

Live displays continue to redraw their contents until an action is complete.

<ul>
@foreach (IDocument child in OutputPages.GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>