Title: Live Displays
Order: 4
---

Live displays continue to redraw their contents until an action is complete.

<ul>
@foreach (IDocument child in OutputPages.GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>