[
    {{~ for x in 0..(emojis.size-1) ~}}
    {
        "id": "{{ emojis[x].identifier }}",
        "name": "{{ emojis[x].name }}",
        "description": "{{ emojis[x].description }}",
        "code": "{{ emojis[x].normalized_code }}"
    }{{ if x != (emojis.size-1) }},{{ end }}
    {{~ end ~}}
]