Title: Start
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="display-4 text-white">Spectre.Console</div> 
            <p class="lead text-white">
                A .NET Standard library that makes it easier to create beautiful console applications.
                <br /><br />
                <a class="btn btn-primary" href="/spectre.console/docs" role="button">Take me to the documentation</a>
            </p>
        </div>
    </div>
}