Title: Start
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="display-4 text-white">Spectre.Console</div> 
            <p class="lead text-white">
                A .NET Standard library that makes it easier to create beautiful console applications.
                <br /><br />
                <a class="btn btn-primary" href="/docs" role="button">Take me to the documentation</a>
            </p>
        </div>
    </div>
}

@* <div class="container py-3">
    <div class="row">
        <div class="col-sm py-3">
            <div class="row">
                <div class="col-md-2">
                    <i class="fad fa-heartbeat fa-2x icon-md-100 icon-theme"></i>
                </div>
                <div class="col-md-10">
                    <h3 class="font-weight-bold font-size-base text-dark mb-2">A beautiful console</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aenean elementum est lorem, at auctor nibh rhoncus eget. 
                        Ut lorem leo, aliquet sit amet tortor vitae, aliquet eleifend dui. 
                        Etiam lectus diam, maximus a pretium a, lacinia in augue.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="row">
                <div class="col-md-2">
                    <i class="fad fa-code fa-2x icon-md-100 icon-theme"></i>
                </div>
                <div class="col-md-10">
                    <h3 class="font-weight-bold font-size-base text-dark mb-2">Rich formatting language</h3>
                    <p>
                        Donec at rutrum turpis. Etiam tempor sed ex quis pharetra. 
                        Suspendisse ullamcorper at magna ac efficitur. Nulla ornare, 
                        lectus feugiat ornare ultricies, nunc lorem maximus ipsum, 
                        nec accumsan eros tellus quis ante
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm py-3">
            <div class="row">
                <div class="col-md-2">
                    <i class="fad fa-cogs fa-2x icon-md-100 icon-theme"></i>
                </div>
                <div class="col-md-10">
                    <h3 class="font-weight-bold font-size-base text-dark mb-2">Configurable</h3>
                    <p>
                        Suspendisse vel condimentum tortor. Fusce tempus ligula ut eros finibus, 
                        nec fermentum ipsum hendrerit. Proin eu diam in tortor vestibulum bibendum. 
                        Integer tincidunt felis eu urna pulvinar vehicula.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="row">
                <div class="col-md-2">
                    <i class="fad fa-search fa-2x icon-md-100 icon-theme"></i>
                </div>
                <div class="col-md-10">
                    <h3 class="font-weight-bold font-size-base text-dark mb-2">Find problems quickly</h3>
                    <p>
                        Aliquam nec nisl ullamcorper, aliquam mauris sit amet, sagittis orci. 
                        Aenean sapien dui, eleifend eget sapien nec, tristique accumsan tortor. 
                        Quisque ex quam, rhoncus sagittis consequat id, euismod sit amet dolor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> *@
