Title: Prompts
Order: 60
Description: "*Spectre.Console* has multiple controls to assist in user input."
---

<ul>
@foreach (IDocument child in OutputPages.GetChildrenOf(Document))
{
  <li>@Html.DocumentLink(child)</li>
}
</ul>