@using Statiq.CodeAnalysis
@using Docs.Extensions

@{
    var constructors = Document.GetDocumentList(CodeAnalysisKeys.Constructors)
        ?.Where(x => x.GetBool(CodeAnalysisKeys.IsResult))
        .OrderBy(x => x.GetString(CodeAnalysisKeys.DisplayName))
        .ToList();

    if (constructors?.Count > 0)
    {
        <h3>Constructors</h3>
        <div class="doc-summary">
            <div>
                <dl>
                    @foreach (var constructor in constructors)
                    {
                        <div>
                            <dt>
                                @constructor.GetModifiers() @Context.GetTypeLink(constructor, false)
                            </dt>
                            <dd>@Html.Raw(constructor.GetString(CodeAnalysisKeys.Summary))</dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }
}