@using Statiq.CodeAnalysis
@using Docs.Extensions
@{
    IReadOnlyList<IDocument> properties = Model.GetDocumentList(CodeAnalysisKeys.Members)
        ?.Where(x => x.GetBool(CodeAnalysisKeys.IsResult) && x.GetString(CodeAnalysisKeys.Kind) == "Property")
        .OrderBy(x => x.GetString(CodeAnalysisKeys.DisplayName))
        .ToList();

    if (properties?.Count > 0)
    {
        <h3>Properties</h3>

        <div class="doc-summary">

            <div>
                <dl>
                    @foreach (var property in properties)
                    {
                        <div>
                            <dt>
                                @property.GetModifiers() @property.GetDocument(CodeAnalysisKeys.Type).GetString(CodeAnalysisKeys.DisplayName) @Context.GetTypeLink(property, false)
                            </dt>
                            <dd>@Html.Raw(property.GetString(CodeAnalysisKeys.Summary))</dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }
}