@using Statiq.CodeAnalysis
@{
    var seeAlso = Document.GetList<string>(CodeAnalysisKeys.SeeAlso);
    if (seeAlso?.Count > 0)
    {
        <h3 id="SeeAlso">See Also</h3>
        <ul>
            @foreach (string seeAlsoComment in seeAlso)
            {
                <li>@Html.Raw(seeAlsoComment)</li>
            }
        </ul>
    }
}