@using Statiq.CodeAnalysis
@using Docs.Extensions
@{
    IDocument type = Document.GetDocument(CodeAnalysisKeys.Type);
    string value = Document.GetString(CodeAnalysisKeys.Value);
}

@if (type is object && !string.IsNullOrWhiteSpace(value))
{
    <p>@Context.GetTypeLink(type)</p>
    <p>@Html.Raw(value)</p>
}