Title: Spectre.Console.Testing
Order: 90
Description: "The testing suite for the command line interface and spectre console...."
---

<p>Spectre.Console.Testing is the namespace for testing suite of Spectre Console and CLI.
    The <a href="https://github.com/VerifyTests/Verify">Verify</a> package can also be used to verify console output.
</p>

<ul>
    @foreach(IDocument child in OutputPages.GetChildrenOf(Document))
    {
        <li>@Html.DocumentLink(child)</li>
    }
</ul>