Title: Spectre.Console.Testing
Order: 90
Description: "The testing suite for the command line interface and spectre console...."
---

<p>Spectre.Console.Testing is the the testing suite used internally and designed for external use.</p>

<ul>
    @foreach(IDocument child in OutputPages.GetChildrenOf(Document))
    {
        <li>@Html.DocumentLink(child)</li>
    }
</ul>