Title: Roslyn Analyzers
Order: 20
---

<code>Spectre.Console.Analyzer</code> provides analyzers for common mistakes when using Spectre.Console. It can be installed via nuget

<pre><code>nuget install Spectre.Console.Analyzer</code></pre>

<h2>Supported Analyzers</h2>

<table>
    <thead>
        <tr>
            <th>Analyzer</th>
            <th>Description</th>
            <th>Category</th>
            <th>Severity</th>
        </tr>
    </thead>
    <tbody>
    @foreach (IDocument child in OutputPages.GetChildrenOf(Document))
    {
        <tr>
            <td>@Html.DocumentLink(child)</td>
            <td>@child.GetString("Description")</td>
            <td>@child.GetString("Category") </td>
            <td>@child.GetString("Severity") </td>
        </tr>
    }
    </tbody>
</table>