@using Microsoft.CodeAnalysis;
@using Statiq.CodeAnalysis

@{
    ITypeSymbol modelSymbol = Model.Get<ITypeSymbol>(CodeAnalysisKeys.Symbol);
    IReadOnlyList<IDocument> methods = Model.GetDocumentList(CodeAnalysisKeys.ExtensionMethods)
        ?.Where(x => x.GetBool(CodeAnalysisKeys.IsResult))
        .OrderBy(x => x.GetString(CodeAnalysisKeys.DisplayName))
        .ToList();

    if (methods?.Count > 0)
    {
        <h3>Extension Methods</h3>
        @foreach (var method in methods)
        {
            @await Html.PartialAsync("../_methodDefinition.cshtml", method)
        }
    }
}