@using Statiq.CodeAnalysis

@{
    var typeParameters = Model.GetDocumentList(CodeAnalysisKeys.TypeParameters);
    var typeParams = Model.GetList<ReferenceComment>(CodeAnalysisKeys.TypeParams);

    if (typeParameters?.Count > 0)
    {
        <div>
            <dl>
                <div>
                @foreach (var typeParam in typeParameters)
                {
                        <dt>
                            <code>@typeParam.GetString(CodeAnalysisKeys.Name)</code>
                        </dt>
                        <dd>@Html.Raw(typeParams?.Where(x => x.Name.Equals(typeParam.GetString(CodeAnalysisKeys.Name))).Select(x => x.Html).FirstOrDefault().RemoveAnchorTags()) </dd>
                    }
                </div>
            </dl>
        </div>
    }
}